Removing all properties by browser*/
*{
	margin:0px;
	padding:0px;
	box-sizing: border-box;
	text-decoration: none;
}

body, html{
	height: 100%;
}

body{
	text-decoration:none;
	background-color: rgb(0,0,0);
	color: white;
	font-family: 'Gayathri', sans-serif;
	background-image: url("/home/bodhi/Desktop/Portfolio/assets/bg.png");
}

/*-------------------------------------------------------------------------------------------------------------------------------*/

nav.header{
	display: flex;
	justify-content: space-around;
	align-items: center;
	min-height: 8vh;
	background-color: black;
	opacity: .55;
	font-family: 'Poppins', sans-serif;
	top: 0;
	position: fixed;
	min-width: 100%;
}

nav.header > ul li a:hover{
	color: #112244;
} 

.logo{
	color: rgb(226, 226, 226);
	text-transform: uppercase;
	letter-spacing: 3px;
	font-size: 20px;
}

.nav-links{
	display: flex;
	justify-content: space-around;
	width: 40%;
	position: 
}

.nav-links a{
	color: rgb(226, 226, 226);
	text-decoration: none;
	letter-spacing: 3px;
	font-weight: bold;
	font-size: 14px;
} 

.nav-links li{
	list-style: none;
}

/*for CoderAbhii in nav-bar*/
.index a{
	text-decoration: none;
	color: rgb(226, 226, 226); 
}

/*-------------------------------------------------------------------------------------------------------------------------------*/
/*ABOUT SECTION OF THE PAGE*/
/*h2 element css*/
.h2heads{
	text-decoration: none;
	font-size: 28px;
	text-shadow: 2px 2px 5px white;
	text-align: center;
	margin: 40px;
	color: white;
	letter-spacing: 3px;
	text-transform: uppercase;
}

.describe{
	text-decoration: none;
	text-align: center;
	letter-spacing: 3px;
	word-spacing: 3px;
	padding: 5px;
	margin-left: 30px;
	color: white;
	margin-bottom: 10vh;
}
/*-------------------------------------------------------------------------------------------------------------------------------*/

.homeImg{
	padding: 50px;
	border-radius: 50%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	
}

div.homeName > .name{
	text-align: center;
	text-decoration: none;
	color: white;
	font-size: 24px;
	letter-spacing: 3px;
	word-spacing: 6px;
	font-weight: bold;
}

div.homeName > .tagline{
	text-align: center;
	text-decoration: none;
	color: white;
	font-size: 22px;
	letter-spacing: 5px;
	word-spacing: 10px;
}
/*-------------------------------------------------------------------------------------------------------------------------------*/

nav.footer{
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: black;
	opacity: .55;
	font-family: 'Poppins', sans-serif;
	bottom: 0;
	position: fixed;
	min-width: 100%;
}
.footerHead{
	color: white;
}
nav.footer > ul li a:hover{
	color: grey;
}
/*-------------------------------------------------------------------------------------------------------------------------------*/

/*GAllery images Projects*/

.gallery{
	margin: 10px;
	padding: 20px;
	width: 23%;
}

.gallery img{
	border-radius: 20%;
	height:40;
	border: 2px white;
	padding: 6px;
	border-style: ridge;
}

.project{
		margin-bottom: 10vh;
		text-decoration: none; 
}
