Removing all properties by browser*/
*{
	margin:0px;
	padding:0px;
	box-sizing: border-box;
	text-decoration: none;
}

body, html{
	height: 100%;
	cursor: cell;
	cursor-color: white;
}

body{
	text-decoration:none;
	background-color: rgb(5,5,5);
	color: white;
	font-family: 'Gayathri', sans-serif;
}

/*-------------------------------------------------------------------------------------------------------------------------------*/

#Home, #about, #skills, #project{
	scroll-margin-top: 15vh;
}

.index img{
	max-height: 10vh;
}
nav.header, nav.footer{
	display: flex;
	justify-content: space-around;
	align-items: center;
	min-height: 8vh;
	background-color: black;
	opacity: .55;
	font-family: 'Poppins', sans-serif;
	position: fixed;
	min-width: 100%;
	max-height: 12%;
}

nav.header{
	top: 0;
}

nav.header > ul li a:hover{
	color: white;
} 

nav.header ul li .active{
	background-color: white;
	color: black;
	padding: 3px;
	border-radius: 50%;
}
.logo{
	color: rgb(226, 226, 226);
	text-transform: uppercase;
	letter-spacing: 3px;
	font-size: 20px;
}

.nav-links{
	display: flex;
	justify-content: space-around;
	width: 50%;
}
nav div ul li a:active{
	background-color: grey;
	color: black;
	padding: 3px;
	border-radius: 50%;
}
.nav-links a{
	color: rgb(226, 226, 226);
	text-decoration: none;
	letter-spacing: 3px;
	font-weight: bold;
	font-size: 14px;
	padding: 2%;
	margin: auto;
} 

.nav-links li{
	list-style: none;
}

/*for CoderAbhii in nav-bar*/
.index a{
	text-decoration: none;
	color: rgb(226, 226, 226); 
}

/*-------------------------------------------------------------------------------------------------------------------------------*/
/*ABOUT SECTION OF THE PAGE*/
/*h2 element css*/
.h2heads{
	text-decoration: none;
	font-size: 28px;
	text-shadow: 2px 2px 5px white;
	text-align: center;
	margin: 40px;
	color: white;
	letter-spacing: 3px;
	text-transform: uppercase;
	margin-top: 25%;

}

.describe{
	text-decoration: none;
	text-align: center;
	letter-spacing: 3px;
	word-spacing: 3px;
	padding: 5px;
	margin-left: 30px;
	color: white;
	margin-bottom: 10vh;
}
/*-------------------------------------------------------------------------------------------------------------------------------*/
/*Home image of coderAbhii logo*/
.homeImg{
	padding: 50px;
	border-radius: 50%;
	margin: 10vh auto;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	max-height: 400px;
	max-width: 600px;
}

div.homeName > .name{
	text-align: center;
	text-decoration: none;
	color: white;
	font-size: 24px;
	letter-spacing: 3px;
	word-spacing: 6px;
	font-weight: bold;
}

div.homeName > .tagline{
	text-align: center;
	text-decoration: none;
	color: white;
	font-size: 22px;
	letter-spacing: 5px;
	word-spacing: 10px;
}
/*-------------------------------------------------------------------------------------------------------------------------------*/
nav.footer{
	bottom: 0;
}
.footer .nav-links li a{
	padding: 10px;
	width: 100%;
}
.footerHead{
	color: white;
}
nav.footer > ul li a:hover{
	color: grey;
}

.contact{
	padding: 3px;
}
/*-------------------------------------------------------------------------------------------------------------------------------*/

/*GAllery images Projects*/
#project{
	margin-bottom: 15vh;
	margin-left: 30px;
}

.projectTitle{
	font-size: 20px;
	font-weight: bolder;
}
.projectDescription a{
	color: lightblue;
}
.galleryfull{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin-bottom: auto;
}

.gallery{
	border: 2px solid white;
	padding: 10px;
	margin: 5px;
	border-radius: 8px;
	max-height: 20%;
	max-width: 20%;
}

.gallery img{
	border-radius: 10px;
	max-height: 100%;
	max-width: 100%;
}
.description{
	margin-top: 10px;
	text-decoration: none;
	text-align: center;
}



/*-------------------------------------------------------------------------------------------------------------------------------*/

/*-- SKILLS --*/

.languages{
	display: flex;
	align-items: center;
}
.languages img{
	max-height: 50px;
	max-width: 50px;
	margin: auto;
	align-items:center;
	padding: 3px;
	border: 3px dashed white;
	border-radius: 5px;
	margin-bottom: 30px;
}

.skillType{
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bolder;
	letter-spacing: 3px;
	word-spacing: 5px;
}
/*-------------------------------------------------------------------------------------------------------------------------------*/

.copyright{
	text-align: center;
	margin-bottom: 15vh;
	font: sans-serif;
}
/*-------------------------------------------------------------------------------------------------------------------------------*/

@media(max-width: 640px){
	header .nav-links{
		display: none;
	}

	.homeImg{
		margin-top: 15vh;
		padding: 0;
		margin-right: auto;
		height: 50%;
		width: 50%;
		display: flex;
		flex-wrap: wrap ;
		flex-direction: row;
		align-items: center;
		justify-content: center;
	}
}

@media (max-width: 1080px){
	.gallery{
		max-height: auto;
		max-width: 50%;
	}

	.gallery img{
	border-radius: 10px;
	max-height: 100%;
	max-width: 100%;
}

footer img{
	max-height: 32px;
	max-width: 32px;
}
